global
    maxconn 2000

defaults
    mode http
    timeout connect 5s
    timeout client  10s
    timeout server  10s

frontend app_frontend
    bind *:8080
    default_backend app_instances

backend app_instances
    balance roundrobin
    option httpchk
    http-check send meth GET uri /ready
    http-check expect status 200
    server app1 app1:9999 check inter 3s fall 2 rise 2
    server app2 app2:9999 check inter 3s fall 2 rise 2
